<table class="table table-bordered brackets-table">
	<tr>
		<th class="text-center">Name</th>
		<th class="text-center">Active?</th>
		<th class="text-center">Score</th>
		<th class="text-center">Controls</th>
	</tr>
	<% @brackets.each do |b| %>
	<tr>
		<td class="text-center">
			<%= link_to b.name, b %>
		</td>
		<td class="text-center">
			<% if b.active %>
			<i class="glyphicon glyphicon-ok"></i>
			<% else %>
			<%= link_to "activate now!", new_payments_path(:bracket_id => b.id) %>
			<% end %>
		</td>
		<td class="text-center">
			<%= b.score %>
		</td>
		<td class="text-center">
			<%= link_to bracket_path(b), :method => "delete", :confirm => "Are you sure you want to delete the bracket called #{b.name}? If you have already donated, we cannot issue a refund." do %>
			delete
			<% end %>
		</td>
	</tr>
	<% end %>
</table>