<section>
	<div class="container">
		<h1 class="text-center">Brackets</h1>

		<div class="row">
			<div class="col-sm">
				<% if @brackets.present? %>
				<%= render "brackets_table" %>
				<% else %>
				<p class="lead text-center">
					Make a new Bracket:
				</p>
				<p class="text-center">
					<%= link_to 'Donate', new_donation_path, :class => "btn btn-primary btn-lg" %>
					<%= link_to 'Brackets', new_bracket_path, :class=> "btn" %>
				</p>
				<% end %>
			</div>
		</div>
	</div>
</section>
