<section>
	<div class="container">
		<h1 class="text-center">Charities</h1>
		<div class="row step">
			<div class="col-sm-9 step-description">
				<h2>1. Learn more about the charities we partner with!</h2>
			</div>
		</div>
	</div>
</section>