<section class="black">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="hero-wrapper">
					<div class="hero">
						<h1 id="hero-h1">The time period for creating a bracket has closed, but you can still donate!</h1>
						<%= link_to 'Donate', new_donation_path, :class => "btn btn-primary hero-btn" %>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<iframe src="//player.vimeo.com/video/61319484?title=0&byline=0&portrait=0&badge=0" width="480" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<h1 class="text-center">How It Works</h1>
		<div class="row step">
			<div class="col-sm-3">
				<%= image_tag "step1.svg", :class => "step-image" %>
			</div>
			<div class="col-sm-9 step-description">
				<h2>1. Sign up with Email</h2>
				<p>
					You can get started by using an email/password combination.
				</p>
			</div>
		</div>
		<div class="row step">
			<div class="col-sm-3">
				<%= image_tag "step2.svg", :class => "step-image" %>
			</div>
			<div class="col-sm-9 step-description">
				<h2>2. Pick your Winners and Create a Bracket</h2>
				<p>
					After Selection Sunday, March 16th, you can create one or more
					"brackets." In other words, you can try to predict the winners of each
					match in the NCAA Men's Basketball Tournament.
				</p>
			</div>
		</div>
		<div class="row step">
			<div class="col-sm-3">
				<%= image_tag "step3.svg", :class => "step-image" %>
			</div>
			<div class="col-sm-9 step-description">
				<h2>3. Choose How Much You'd Like to Donate</h2>
				<p>
					The minimum donation for creating a bracket is $2, but you
					can create as many brackets as you wish and donate as much as
					you want. You can also donate directly without creating a bracket. 
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-9 col-sm-offset-3">
				<h2>Additional Details</h2>
				<p>
					As the tournament progresses, you'll earn points for every prediction
					you get right. We'll post a leaderboard of the users with the most
					points.
				</p>
				<p>
					The proceeds will be divided in half. 50% will go toward research
					on Sudden Infant Death Syndrome. The top 5 users will each get to
					donate 10% of the proceeds to the charity of their choice.
				</p>
			</div>
		</div>
	</div>
</section>