<section>
	<div class="container">
		<h1 class="text-center">Prizes</h1>
		<div class="row step">
			<div class="col-sm-9 step-description">
				<h2>1. Here are the prizes you can win!</h2>
			</div>
		</div>
	</div>
</section>