<section>
	<div class="container">
		<h1 class="text-center">Win Big For More Than Just Your Charity</h1>
		<div class="row">
			<!--Bracket section-->
			<div class="col-lg-5">
				<h2 class="text-center">For The Best Bracket</h2>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">An iPad Mini 3</h3>
					</div>
					<div class="panel-body">
						<%= image_tag "ipad3.png", :class=> "text-center, img-responsive" %>
					</div>
				</div>
			</div>

			<!--Referrals section-->
			<div class="col-lg-5 col-lg-offset-2">
				<h2 class="text-center">For The Most Referrals</h2>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">A $50 Amazon Giftcard</h3>
					</div>
					<div class="panel-body">
						<%= image_tag "amazon.png", :class=> "text-center, img-responsive" %>
					</div>
				</div>
			</div>
		</div>
		<h2 class="text-center">More Prizes Coming Soon!</h2>
	</div>
</section>