	<div class="container">
		<h1 class="text-center">Tournament Leaderboard</h1>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2 class="text-center">Top Brackets</h2>
				<table class="table table-bordered table-hover">
					<thead>
					<tr>
						<th class="leaderboard-head"></th>
						<th class="leaderboard-head">Name</th>
						<th class="leaderboard-head">Charity</th>
						<th class="leaderboard-head">Score</th>
					</tr>
					</thead>
					<tbody>
						<%  Bracket.order('score DESC').first(10).each_with_index do |b, i| %>
						<%  curr_usr = User.find(b.user_id) %>
						<tr>
							<td class="leaderboard-number"><strong><%= i+1 %></strong></td>
							<td><%= b.name %></td>
							<td><%= curr_user.charity %></td>
							<td><strong><%= b.score %></strong></td>
						</tr>
						<% end %>
				</table>
			</div>
	</div>