	<div class="container">
		<h1 class="text-center">Tournament Leaderboard</h1>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2 class="text-center">Top Brackets</h2>
				<table class="table table-bordered table-hover">
					<thead>
					<tr>
						<th class="leaderboard-head"></th>
						<th class="leaderboard-head">Name</th>
						<th class="leaderboard-head">Charity</th>
						<th class="leaderboard-head">Score</th>
					</tr>
					</thead>
					<tbody>
						<tr>
							<td class="leaderboard-number"><strong>1</strong></td>
							<td>Gainz</td>
							<td>Gainz</td>
							<td><strong>69</strong></td>
						</tr>
						<tr>
							<td class="leaderboard-number"><strong>2</strong></td>
							<td>Gainz</td>
							<td>Gainz</td>
							<td><strong>69</strong></td>
						</tr>
						<tr>
							<td class="leaderboard-number"><strong>3</strong></td>
							<td>Gainz</td>
							<td>Gainz</td>
							<td><strong>69</strong></td>
						</tr>
						<tr>
							<td class="leaderboard-number"><strong>4</strong></td>
							<td>Gainz</td>
							<td>Gainz</td>
							<td><strong>69</strong></td>
						</tr>
						<tr>
							<td class="leaderboard-number"><strong>5</strong></td>
							<td>Gainz</td>
							<td>Gainz</td>
							<td><strong>69</strong></td>
						</tr>
						<tr>
							<td class="leaderboard-number"><strong>6</strong></td>
							<td>Gainz</td>
							<td>Gainz</td>
							<td><strong>69</strong></td>
						</tr>
						<tr>
							<td class="leaderboard-number"><strong>7</strong></td>
							<td>Gainz</td>
							<td>Gainz</td>
							<td><strong>69</strong></td>
						</tr>
						<tr>
							<td class="leaderboard-number"><strong>8</strong></td>
							<td>Gainz</td>
							<td>Gainz</td>
							<td><strong>69</strong></td>
						</tr>
						<tr>
							<td class="leaderboard-number"><strong>9</strong></td>
							<td>Gainz</td>
							<td>Gainz</td>
							<td><strong>69</strong></td>
						</tr>
						<tr>
							<td class="leaderboard-number"><strong>10</strong></td>
							<td>Gainz</td>
							<td>Gainz</td>
							<td><strong>69</strong></td>
						</tr>

				</table>
			</div>
	</div>