	<div class="container">
		<h1 class="text-center">Tournament Leaderboard</h1>
		<div class="row step">
			<div class="col-sm-12">
				<h2 class="text-center">Coming Soon!</h2>
			</div>
		</div>
	</div>