<footer>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<ul class="unstyled text-center">
					<li>
						<a href="https://www.facebook.com/brackets4life">
							<%= image_tag "facebook.png", :class => "facebook" %></a>
						<a href="https://twitter.com/brackets4life" class="twitter-follow-button" data-show-count="false">Follow @brackets4life</a>
					</li>
					<li> 
						Built by <a href="http://inthecube.org"> The Cube</a> &amp; Maintained by Alex Browne & Ashley Qian
					</li>
					<li>
						Copyright &copy; 2013 Brackets4Life. All rights reserved
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
