<section>
	<div class="container">
		<div class="bracket-payment-message">
			<div class="row">
				<div class="col-xs-12">
					<p class="text-center lead">Thank you! You donated <strong>$<%= (@amt.to_i / 100) %>.00</strong>!</p>
				</div>
			</div>
		</div>
	</div>
</section>