

.overlay {
    background-color: #FFFFFF;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute !important;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
    -webkit-transition: all 1.5s ease-out 0s;
    -moz-transition: all 1.5s ease-out 0s;
    -ms-transition: all 1.5s ease-out 0s;
    -o-transition: all 1.5s ease-out 0s;
    transition: all 1.5s ease-out 0s;
}

.charity-header {
    color: #FFFFFF;
}
.img-overlay {
    position: relative !important;
    max-width: 500px !important;
}

.overlay:hover {
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
     opacity: 0.8;
}


.img-portfolio {
    margin-bottom: 30px;
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }
}    